{
    "arrowParens": "avoid",
    "bracketSpacing": true,
    "configPath": "",
    "disableLanguages": [],
    "endOfLine": "auto",
    "eslintIntegration": null,
    "htmlWhitespaceSensitivity": "css",
    "ignorePath": ".prettierignore",
    "insertPragma": false,
    "jsxBracketSameLine": false,
    "parser": null,
    "prettierPath": "",
    "printWidth": 140,
    "proseWrap": "preserve",
    "quoteProps": "as-needed",
    "requireConfig": false,
    "requirePragma": false,
    "semi": true,
    "singleQuote": false,
    "stylelintIntegration": null,
    "tabWidth": 4,
    "trailingComma": "none",
    "tslintIntegration": null,
    "useEditorConfig": true,
    "useTabs": false,
    "vueIndentScriptAndStyle": false
  }